<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1><%= link_to "Manga Store", "/" %></h1>
  <p><%= link_to "Search", search_path %></p>
</header>
<%= yield %>

</body>
<footer>
  <p>Created by: <mark>Mark</mark></p>
</footer>
</html>
